<!doctype html>
<!--[if lt IE 7]> <html class="no-js ie6 oldie" lang="en"> <![endif]-->
<!--[if IE 7]>    <html class="no-js ie7 oldie" lang="en"> <![endif]-->
<!--[if IE 8]>    <html class="no-js ie8 oldie" lang="en"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js" lang="en"> <!--<![endif]-->
<head>
    <meta charset="utf-8">
    <meta http-equiv='X-UA-Compatible' content='IE=edge;chrome=1' />
    <meta name="description" content="Coding Adventures blog." />
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <meta name="updated" content="<%= Time.now %>">
    <%= favicon_tag 'images/favicon.png' %>

    <title><%= "#{current_article.title} | " unless current_article.nil? %>Coding Adventures</title>
    <%= feed_tag :atom, "#{blog.options.prefix.to_s}/feed.xml", title: "Atom Feed" %>

    <link href='http://fonts.googleapis.com/css?family=Lato|Lora|Source+Code+Pro:400' rel='stylesheet' type='text/css'>
    <link href='http://fonts.googleapis.com/css?family=PT+Sans' rel='stylesheet' type='text/css'>

    <%= stylesheet_link_tag 'blog.css' %>
    <script src="/assets/javascripts/vendor/modernizr-2.6.1.min.js"></script>
</head>
  <body>
    <nav id="navbar">
      <header>
          <h1 id="root"><a href="/">codingadventur.es</a></h1>
          <h2 id="description">Coding adventures</h2>
      </header>
    </nav>
    <section class="content">
      <article>
        <%= yield %>
      </article>
    </section>
    <%= render_partial '/layouts/ga' %>
  </body>
</html>
