---
title: 'Blog'
pageable: true
per_page: 10
---
<% if paginate && num_pages > 1 %>
  <p>Page <%= page_number %> of <%= num_pages %></p>

  <% if prev_page %>
    <p><%= link_to 'Previous page', prev_page %></p>
  <% end %>
<% end %>

<% drafts.each do |draft| %>
  <%= partial(:summary, locals: { article: draft })  %>
<% end %>

<% page_articles.each do |article| %>
  <%= partial(:summary, locals: { article: article })  %>
<% end %>

<% if paginate %>
  <% if next_page %>
    <p><%= link_to 'Next page', next_page %></p>
  <% end %>
<% end %>

<aside>
  <h3>Browse by tags</h3>
  <ul class="tags">
    <% blog.tags.each do |tag, articles| %>
      <li><%= link_to "#{tag} (#{articles.size})", tag_path(tag) %></li>
    <% end %>
  </ul>
</aside>
